<header>
  <!-- Navigation CSS -->
  <link rel="stylesheet" href="nav.css">
  
  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Navigation JavaScript -->
  <script src="components/nav/nav.js"></script>
  
  <div class="navbar">
    <div class="navbar">
      <div class="navbar-top">
        <div class="logo">
          <img src="/components/nav/hoedeken.png" alt="Hoedeken">
          <a href="index.html" style="vertical-align: middle; margin-left: 10px;">Verkehrsverein südlicher Sackwald e.V.</a>
        </div>
      <!-- Hamburger Button for Mobile View -->
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-bottom">
      <nav id="nav">
        <ul class="nav-group">
          <li class="nav-item"><a href="index.html" class="active">Startseite</a></li>
          <li class="nav-item"><a href="der-verein.html">Über uns</a></li>
          <li class="nav-item"><a href="bildergalerie.html">Bildgalerie</a></li>
          <li class="nav-item"><a href="sehenswuerdigkeiten.html">Sehenswürdigkeiten</a></li>
          <li class="nav-item"><a href="gastronomie.html">Gastronomie</a></li>
          <li class="nav-item"><a href="aktiv-in-der-region.html">Aktiv in der Region</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
