<header>
  <!-- Navigation CSS -->
  <link rel="stylesheet" href="nav.css">
  
  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Navigation JavaScript -->
  <script src="components/nav/nav.js"></script>
  
  <div class="navbar">
    <div class="navbar-top">
      <div class="logo">
        <a href="index.html">South Sackwald Traffic Association e.V.</a>
      </div>
      <!-- Hamburger Button for Mobile View -->
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-bottom">
      <nav id="nav">
        <ul class="nav-group">
          <li class="nav-item"><a href="index.html" class="active">Home</a></li>
          <li class="nav-item"><a href="der-verein.html">About Us</a></li>
          <li class="nav-item"><a href="bildergalerie.html">Gallery</a></li>
          <li class="nav-item"><a href="sehenswuerdigkeiten.html">Attractions</a></li>
          <li class="nav-item"><a href="gastronomie.html">Dining</a></li>
          <li class="nav-item"><a href="aktiv-in-der-region.html">Local Activities</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
